/*
  Contact page styles
*/

.form-control:focus {
  border-color: var(--ubc-gold);
  box-shadow: 0 0 0 0.2rem rgba(209, 162, 63, 0.2);
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: var(--ubc-gold);
  box-shadow: 0 0 0 0.2rem rgba(209, 162, 63, 0.2);
}
